<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApplication1.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="Database" serializeAs="String">
                <value/>
            </setting>
            <setting name="UID" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="EnableTracking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value/>
            </setting>
            <setting name="CoordServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="CoordPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="MinersNames" serializeAs="String">
                <value/>
            </setting>
            <setting name="TTLindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TTLwidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="minersNameindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minersNameWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PktLengthindex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PktLengthWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PktSequenceindex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PktSequenceWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PktTypeindex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PktTypeWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PktEventindex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PktEventWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PktTempindex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PktTempWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Voltindex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="VoltWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PktLqiIndex" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="PktLqiWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BrSequIndex" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BrSequWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BrCmdIndex" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BrCmdWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TOFpingIndex" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TOFpingWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TOFtimeoutIndex" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="TOFtimeoutWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TOFrefuseIndex" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TOFrefuseWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TOFsuccessIndex" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="TOFsuccessWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TOFdistanceIndex" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="TOFdistanceWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="RSSIdistanceIndex" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RSSIdistanceWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TOFerrorIndex" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TOFerrorWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TOFmacIndex" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="TOFmacWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ReaderAddIndex" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="ReaderAddWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="endPointTypeIndex" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="endPointTypeWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="tagAddIndex" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="tagAddWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BrSequPersistInt" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="BrSequPersistWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="unitIDIndex" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="unitIDWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="zoneIDIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="zoneIDWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="RxLQIInxex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="RxLQIWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CH4gasIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="CH4gasWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="COgasIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="COgasWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="O2gasIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="O2gasWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CO2gasIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="CO2gasWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="failStateIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="failStateWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="u57Index" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="u57Width" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="u54Index" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="u54Width" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="u55Index" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="u55Width" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="u56Index" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="u56Width" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="u58Index" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="u58Width" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="switchStateIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="switchStateWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ImageIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="ImageWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="remoteLockoutIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="remoteLockoutWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="keyShortIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="keyShortWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="switchErrorIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="switchErrorWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="RLO_ErrorIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="RLO_ErrorWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="dcVoltsStateIndex" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="dcVoltsStateWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="adcReadError1Index" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="adcReadError1Width" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="adcReadError2Index" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="adcReadError2Width" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>23</value>
            </setting>
        </WpfApplication1.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
